.navbar-container {
  background: #fff;
  border-bottom: solid 0.5px rgb(211, 211, 211);

  .navbar-subcontainer {
    height: 80px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #000;
      text-decoration: none;

      h5 {
        height: 37px;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        font-weight: 800;
        text-transform: capitalize;
      }

      h6 {
        height: 30px;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .navigation {
      width: 800px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .dropdownNavbarBtns {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 300;
        border: none;
        background: none;
        color: #323232;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: rgba(189, 0, 0, 0.949);
        }

        &:active {
          color: #323232;
        }

        span {
          transform: translateY(0);
          transition: all 0.3s ease;
        }

        .more {
          transform: translateY(-1px) rotate(-180deg);
        }
      }

      .active {
        color: rgba(189, 0, 0, 0.949);
      }

      .nav-link {
        width: 120px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #323232;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover {
          color: rgba(189, 0, 0, 0.949);
        }

        &:active {
          color: #000;
        }
      }

      .active {
        color: rgba(189, 0, 0, 0.949);
      }

      .loginBtn {
        height: 50px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #fff;
        border: none;
        border-radius: 5px;
        background: rgba(189, 0, 0, 0.949);
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
          background: rgba(155, 0, 0, 0.949);
        }

        &:active {
          background: rgba(189, 0, 0, 0.949);
        }
      }
    }
  }
}

.dropdownLocations-container {
  width: 160px;
  position: absolute;
  z-index: 2;
  top: 81px;
  left: 410px;

  ul {
    a {
      text-decoration: none;

      li {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #323232;
        border: solid 0.5px rgb(211, 211, 211);
        border-top: none;
        text-transform: uppercase;
        background: #fff;
        list-style: none;
        transition: all 0.3s ease;

        &:hover {
          color: rgba(189, 0, 0, 0.949);
        }

        &:active {
          color: #323232;
        }
      }
    }
  }
}

.dropdownLanguages-container {
  width: 160px;
  position: absolute;
  z-index: 2;
  top: 81px;
  left: 870px;

  ul {
    li {
      width: 100%;
      list-style: none;

      button {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #323232;
        border: solid 0.5px rgb(211, 211, 211);
        border-top: none;
        text-transform: uppercase;
        background: #fff;
        list-style: none;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: rgba(189, 0, 0, 0.949);
        }

        &:active {
          color: #323232;
        }
      }
    }
  }
}
