.header-sticky {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
}

.header-static {
  height: 80px;
  background: #fff;
}

main {
  flex-grow: 1;
  background: rgb(243, 243, 243);
}
