.menubar-container {
  height: 120px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 0.5px rgb(211, 211, 211);

  .dishes-container {
    width: 850px;
    display: flex;
    flex-wrap: wrap;

    a {
      font-size: 13px;
      margin: 5px 5px 5px 0;
      padding: 5px 12px;
      color: #323232;
      text-decoration: none;
      text-transform: uppercase;
      background: rgb(219, 219, 219);
      border-radius: 15px;
      transition: all 0.3s ease;

      &:hover {
        background: rgb(188, 188, 188);
      }

      &:active {
        background: rgb(219, 219, 219);
      }
    }

    .active {
      background: rgb(188, 188, 188);
    }
  }

  input {
    height: 60px;
    width: 160px;
    background: rgb(219, 219, 219);
    border: none;
    border-radius: 30px;
    color: #323232;
    font-size: 18px;
    padding-left: 20px;
    transition: all 0.3s ease;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  .menubar-btns {
    width: 240px;
    display: flex;
    justify-content: space-between;

    .menubar-btn {
      height: 60px;
      width: 60px;
      color: #323232;
      background: rgb(219, 219, 219);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(120%);
      }

      span {
        font-size: 28px;
      }
    }

    .search-btn {
      margin-left: 100px;
    }

    .cart-btn {
      position: relative;
      color: #fff;
      background: rgba(189, 0, 0, 0.949);

      p {
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        font-weight: 600;
        color: #323232;
        border: solid 1px #323232;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 40px;
        background: rgb(219, 219, 219);
      }
    }
  }
}
